.div1{
    height: 80vh;
    background-image: url(../images/h_img.jpg);
}
.h11{
    color: white;
    font-size: 15mm;
}
.h41{
    color: white;
}
.div3{
    height: 45vh;
    background-image: url(../images/s_image.jpg);
    
}
.services{
    color: white;
    font-size: 7mm;
}
.h22{
    color: white;
    font-size: 5mm;
}
.h41{
    font-size: 5mm;
}
.h21{
    font-size: 10mm;
}.div2p1{
    font-size: 5mm;
}
.div2p2{
    font-size: 5mm;
}
.div2p3{
    font-size: 5mm;
}
.div2p4{
    font-size: 5mm;

}
.div6{
    background-image: url(../images/c_image.jpg);
}
.div5{
 margin:5%
}